/* Your custom styles */
body {
  background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

#mdb-preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* change if the mask should have another color then white */
  z-index: 9998;
  width: 100%;
  /* makes sure it stays on top */
  height: 100%;
  opacity: 0.8;
  background-color: #000;
}